{% extends 'base.html.twig' %}
{% block title %} {{ name }}{% endblock %}
{% block body %}
<h1>{{ name }}</h1>

<div>
    <p>
        Info1
    </p>
    <p>
        Info2
    </p>
    <p>
        Info3
    </p>
</div>

<h2>Numbers ({{ phone_numbers|length }})</h2>
<ul>
    {% for phone_number in phone_numbers %}
        <li>{{ phone_number }}</li>
    {% endfor %}
</ul>{% endblock %}